[submodule "tapir/tools/clang"]
	path = tapir/tools/clang
	url = https://github.com/wsmoses/Tapir-Clang
	branch = release_60-release

[submodule "tapir/tools/polly"]
	path = tapir/tools/polly
	url = https://github.com/wsmoses/Tapir-Polly
	branch = release_60

[submodule "tapir/projects/compiler-rt"]
	path = tapir/projects/compiler-rt
	url = https://github.com/wsmoses/Tapir-compiler-rt
	branch = release_60-release
[submodule "tapir"]
	path = tapir
	url = https://github.com/sfu-arch/tapir
